<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner v2.2.0</title>

  <link rel="shortcut icon" type="image/png" href="lib/jasmine-2.2.0/jasmine_favicon.png">
  <link rel="stylesheet" href="lib/jasmine-2.2.0/jasmine.css">

</head>

<body>
  <!-- plantilla para la lista de contactos
       En realidad solo contiene el formulario de alta de contacto
       el listado se genera dinámicamente con JS -->
  <script id="listado_tmpl" type="text/x-handlebars-template">
      <label for="nombre_edit">Nombre:</label>
      <input type="text" id="nombre"> <br>
      <label for="apellidos_edit">Apellidos:</label>
      <input type="text" id="apellidos"> <br>
      <label for="telefono_edit">Teléfono:</label>
      <input type="text" id="telefono"> <br>
      <input type="button" id="boton_nuevo" value="Nuevo">

      <form>
          <label for="nombre_edit">Filtrar por nombre o apellidos:</label>
          <input type="text" id="nombre_filtro"> 
          <input type="button" id="boton_filtrar" value="filtrar">
      </form>

  </script>


  <!-- plantilla para listar un único contacto -->
  <script id="contacto_tmpl" type="text/x-handlebars-template">
      <b>{{nombre}} {{apellidos}}</b> <br>
      <em>{{telefono}}</em> <br>
      <input type="button" class="boton_borrar" value="Borrar">
      <input type="button" class="boton_editar" value="Editar">
  </script>

  <!-- plantilla para editar un único contacto -->
  <script id="contacto_edit_tmpl" type="text/x-handlebars-template">
      <label for="nombre_edit">Nombre:</label>
      <input type="text" value="{{nombre}}" id="nombre_edit"> <br>
      <label for="apellidos_edit">Apellidos:</label>
      <input type="text" value="{{apellidos}}" id="apellidos_edit"> <br>
      <label for="telefono_edit">Teléfono:</label>
      <input type="text" value="{{telefono}}" id="telefono_edit"> <br>
      <input type="button" class="boton_guardar" value="Guardar">
  </script>


  <script src="lib/jasmine-2.2.0/jasmine.js"></script>
  <script src="lib/jasmine-2.2.0/jasmine-html.js"></script>
  <script src="lib/jasmine-2.2.0/boot.js"></script>


  <!-- librerías de la app -->
  <script src="../js/lib/jquery-2.1.3.min.js"></script>
  <script src="../js/lib/underscore-min.js"></script>
  <script src="../js/lib/backbone-min.js"></script>

  <!-- plugins jasmine -->
  <script src="lib/jasmine-jquery.js"></script>
  <script src="lib/mock-ajax.js"></script>


  <!-- fuentes de la app -->
  <script src="../js/agenda_listado.js"></script>
  <script src="../js/contactos.js"></script>


  <!-- specs -->
  <script src="spec/prueba.js"></script>


</body>
</html>
